body {
    background-color: rgb(231, 80, 80);
    color: #fff;
}

.text {
    display: inline-block;
}

h1 {
    font-size: 3rem;
    color: white;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 1.5s steps(20, end) forwards,
        blinking .75s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinking {
    from {
        border-color: transparent;
    }

    to {
        border-color: orange;
    }
}

.nav-enlace {
    display: inline-block;
    background-color: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: rosybrown;
}

nav {
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-boton {
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media(max-width:600px) {
    nav {
        flex-direction: column;
    }

    .nav-enlace {
        margin: 5px 0;
    }

    .nav-boton {
        display: inline-block;
    }

    .desaparece {
        display: none;
    }
}

.owl-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.item, img {
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 10rem;
    display: flex;
    width: 100%;
    height: 400px;
}